html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
.user-box{
    width: 100%;
    height: 100%;
    background: url('../image/Hi.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.logo{
    background: url('../image/Logo.png') no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 47px;
    position: absolute;
    top: 25px;
    left: 30px;
}
.user-login{
    width: 400px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-47%);
    left: 58%;
    padding-bottom: 20px;
}
.con{
    display:none;
}
.active{
    position: relative;
}
.active::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 100%;
    border-bottom: 3px solid #333;
}
.active::before {
    width: 15px;
    left: 50%;
    top: 5px;
    transform: translateX(-50%);
}
.btn-title{
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
}
.spanList{
    display: inline-block;
    width: 100px;
    cursor: pointer;
}
.context{
    padding: 10px 50px;
}
.con input{
    width: 100%;
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 15px;
    outline: none;
}
.reg-input-box input{
    height: 40px;
}
.username{
    padding-bottom: 30px;
}
input::-webkit-input-placeholder {
    /* placeholder颜色  */
    color: #cdcdcd;
    /* placeholder字体大小  */
    font-size: 16px;
}
.forget{
    padding-top: 10px;
    text-align: right;
    color: #bababa;
}
.forget span{
    padding-right: 10px;
    cursor: pointer;
}
.login-btn,.reg-btn{
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(to right, #25ace8, #80e5e7);
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
}
.login-btn-box{
    padding: 45px 0;
}
.reg-btn-box{
    padding-top: 10px;
}
.reg-input .reg-input-box{
    padding-bottom: 20px;
    position: relative;
}
.login-input-box{
    position: relative;
}
.err-text{
    padding-left: 5px;
    font-size: 12px;
    color: red;
    position: absolute;
    top: 41px;
    left: 0;
    display: none;
    line-height: 13px;
}
.reg-ok{
    color: #46b44b;
    line-height: normal;
}
.login-err-text{
    padding-left: 5px;
    font-size: 12px;
    color: red;
    position: absolute;
    top: 52px;
    left: 0;
    display: none;
    line-height: 13px;
}
.code{
    width: 100%;
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}
.code .code-input{
    border: transparent;
    width: 68%;
    height: 99%;
}
.code .code-btn{
    width: 30%;
    text-align: center;
    color: #298dad;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}
.hint-msg{
    padding: 10px 0 0 5px;
    display: block;
}
.navbar-icon2 .logo-box{
    padding-top: 16px;
    padding-left: 15px;
    display: inline-block;
}
.trans-en{
    float: right;
    margin-top: 16px;
    margin-right: 40px;
}
.navbar-icon2 img{
    width: 40px;  
}

.logo_text{
    vertical-align: middle;
    color: #d7edfa;
}

.first-btn{
    width: 45%;
    background: #a9deef;
}
.reg-btn_btn{
    width: 45%;
    float: right;
}
#page2 .reg-input-box{
    padding-bottom: 30px;
}
#page2 .reg-input-box .err-text{
    top: 51px;
}
#page2 .reg-input-box input{
    height: 50px;
}
#page2 .reg-btn-box{
    padding: 45px 0;
}
.login-req{
    padding-left: 5px;
    font-size: 12px;
    color: red;
    position: absolute;
    top: 52px;
    left: 0;
    line-height: 13px;
}
@media screen and (max-width:1024px){
    .logo_text {
        width: 60px !important;
        padding-left: 5px;
    }
    .user-box{
        width: 100%;
        height: 100%;
        background: url('../image/mbg.jpg') no-repeat;
        background-size: cover;
        position: relative;
    }
    .user-login{
        width: 400px;
        background: #fff;
        border-radius: 20px;
        position: relative;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
}
input{
    -webkit-appearance: none;
}
@media screen and (max-width:414px){
    input::-webkit-input-placeholder{
        font-size: 14px;
    }
    .logo_text {
        width: 60px !important;
        padding-left: 5px;
    }
    .user-box{
        width: 100%;
        height: 100%;
        background: url('../image/mbg.jpg') no-repeat;
        background-size: cover;
        position: relative;
    }
    .user-login{
        width: 75%;
        background: #fff;
        border-radius: 20px;
        position: relative;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    .context {
        padding: 10px 30px;
    }
    .login-btn-box {
        padding: 30px 0;
    }
    .btn-title {
        padding: 20px 0;
        text-align: center;
        font-size: 20px;
    }
    .con input {
        width: 100%;
        height: 40px;
        border: 1px solid #d6d6d6;
        border-radius: 2px;
        font-size: 16px;
        padding-left: 15px;
        outline: none;
    }
    .err-text {
        padding-left: 5px;
        font-size: 12px;
        color: red;
        position: absolute;
        top: 42px;
        left: 0;
        display: none;
        line-height: 13px;
    }
    .reg-input .reg-input-box {
        padding-bottom: 20px;
        position: relative;
    }
    .username {
        padding-bottom: 25px;
    }
    .login-btn,.reg-btn{
        height: 40px;
    }
    #page2 .reg-input-box{
        padding-bottom: 25px;
    }
    #page2 .reg-input-box .err-text{
        top: 42px;
    }
    #page2 .reg-input-box input{
        height: 40px;
    }
    #page2 .reg-btn-box{
        padding: 32.5px 0;
        /* margin-top: 5px; */
    }
}