html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
.user-box{
    width: 100%;
    height: 100%;
    background: url('../image/pwd.jpg') no-repeat;
    background-size: cover;
    min-width: 1200px;
    position: relative;
}
.logo{
    background: url('../image/Logo.png') no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 47px;
    position: absolute;
    top: 25px;
    left: 30px;
}
.user-login{
    width: 550px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -45%);
    left: 50%;
    padding: 0 80px;
}