html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}
.user-box{
    width: 100%;
    height: 100%;
    background: url('../image/pwd.jpg') no-repeat;
    background-size: cover;
    position: relative;
}
.logo{
    background: url('../image/Logo.png') no-repeat;
    background-size: 100% 100%;
    width: 150px;
    height: 47px;
    position: absolute;
    top: 25px;
    left: 30px;
}
.user-login{
    width: 550px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translate(-50%, -45%);
    left: 50%;
    padding: 0 80px;
}
.main{
    width: 100%;
}
.main-title{
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid #d3d3d3;
    font-size: 32px;
    padding: 40px 0 20px;
    letter-spacing: 5px;
}
.main-input{
    width: 100%;
    padding: 30px 30px 0;
}
.main-input-box{
    padding-bottom: 30px;
    position: relative;
}
.input-label{
    display: block;
    padding-bottom: 8px;
    color: #5e5e5e;
    font-size: 14px;
}
.main-input-box input{
    width: 100%;
    height: 50px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
    outline: none;
}
.main-btn{
    padding: 0 30px;
}
.con-btn{
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(to right, #25ace8, #80e5e7);
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    outline: none;
}
.err-text{
    padding-left: 5px;
    font-size: 12px;
    color: red;
    position: absolute;
    top: 83px;
    left: 0;
}
.main-hint{
    text-align: center;
    padding: 50px 0;
    display: none;
}
.main-hint img{
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;
}
.main-hint .hint-txt{
    padding-top: 20px;
    display: inline-block;
    font-size: 20px;
}
.navbar-icon{
    width: 100px;
    position: absolute;
    top: 16px;
    left: 15px;
}
.navbar-icon img{
    width: 40px;  
}
.logo_text{
    width: 60px !important;
    padding-left: 5px;
}
input{
    -webkit-appearance: none;
}
.back{
    background: url('../image/back.png') no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    left: 20px;
    cursor: pointer;
}
@media screen and (max-width:1024px){
    .logo_text {
        width: 60px !important;
        padding-left: 5px;
    }
    .user-box{
        width: 100%;
        height: 100%;
        background: url('../image/mbg.jpg') no-repeat;
        background-size: cover;
        position: relative;
    }
    .user-login{
        width: 400px;
        height: 470px;
        background: #fff;
        border-radius: 20px;
        position: relative;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
        padding: 0 30px;
    }
}
@media screen and (max-width:414px){
    input::-webkit-input-placeholder{
        font-size: 14px;
    }
    .logo_text {
        width: 60px !important;
        padding-left: 5px;
    }
    .user-box{
        width: 100%;
        height: 100%;
        background: url('../image/mbg.jpg') no-repeat;
        background-size: cover;
        position: relative;
    }
    .user-login{
        width: 75%;
        height: 370px;
        background: #fff;
        border-radius: 20px;
        position: relative;
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    .main-title {
        display: block;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid #d3d3d3;
        font-size: 25px;
        padding: 25px 0 20px;
        letter-spacing: 5px;
    }
    .main-input-box input {
        width: 100%;
        height: 40px;
        border: 1px solid #d6d6d6;
        border-radius: 2px;
        font-size: 16px;
        padding-left: 15px;
        outline: none;
    }
    .main-input {
        width: 100%;
        padding: 20px 0px 0;
    }
    .input-label{
        padding-bottom: 2px;
    }
    .err-text {
        padding-left: 5px;
        font-size: 12px;
        color: red;
        position: absolute;
        top: 63px;
        left: 0;
    }
    .main-btn{
        padding: 0;
    }
    .con-btn {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
}