#eui-main-body {
	margin: auto;
	width: 100%;
	/*border: 1px solid silver;*/
}

.body_banner {
	height: 617px;
	display: block;
	background-image: url("../images/asr.jpg");
	margin-top: 0;
	padding-top: 0;
}

.body-content .content-title {
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 黑体;
	font-size: 30px;
	color: #8c8c8c;
}

#eui-main-body .our_strong {
	height: 380px;
	width: 964px;
	margin: auto;
}


/*#eui-main-body .our_strong .strong_title{*/


/*margin-left: 30px;*/


/*}*/

#eui-main-body .our_strong .strong_content .con-list {
	margin-left: 80px;
	float: left;
	width: 385px;
	margin-top: 40px;
}

#eui-main-body .our_strong .strong_content .con-list .list-icon {
	height: 104px;
	width: 95px;
	float: left;
	background-image: url("../images/asrfe.jpg");
}

#eui-main-body .our_strong .strong_content .con-list .list-title {
	font-family: 黑体;
	font-size: 18px;
	font-weight: bold;
	color: #2926ff;
}

#eui-main-body .our_strong .strong_content .con-list.f1 .list-icon {
	background-position: 0 0;
}

#eui-main-body .our_strong .strong_content .con-list.f2 .list-icon {
	background-position: -517px 0;
}

#eui-main-body .our_strong .strong_content .con-list.f3 .list-icon {
	background-position: -112px 0;
}

#eui-main-body .our_strong .strong_content .con-list.f4 .list-icon {
	background-position: -212px 0;
}

#eui-main-body .our_strong .strong_content .list-content {
	font-family: 宋体;
	font-size: 10px;
	color: #b1b1b1;
}

#eui-main-body .product-experience {
	margin: 70px auto;
	width: 90%;
}


/*#eui-main-body  .product-experience .product-title{*/


/*margin-left: 30px;*/


/*}*/

#eui-main-body .product-experience .product-content {
	height: 412px;
	display: block;
	margin-top: 10px;
	margin-bottom: 30px;
	/*margin-left: 15px;*/
}


/*
#eui-main-body  .product-experience .product-content .product-condition{
    display: none;
    width: 293px;
    height: 412px;
    border: 1px solid #e5e5e5;
    float: left;
}

#eui-main-body  .product-experience .product-content .product-condition .condition-cn{
    display: block;
    background-image: url("../images/asrbtn_hover.jpg");
    height: 205px;
}

#eui-main-body  .product-experience .product-content .product-condition .condition-en{
    display: block;
    background-image: url("../images/asrbtn.jpg");
    height: 205px;
}
*/

#eui-main-body .product-experience .product-content .product-picture {
	display: block;
	width: 100%;
	/*height: 650px;*/
	margin-bottom: 90px;
	border: 1px solid #e5e5e5;
	float: left;
	/*text-align: center;*/
}

#eui-main-body .product-experience .product-content .product-picture .result-content {
	/*width: 54%;*/
	display: block;
	margin:0 10px;
	padding-top: 15px;
	text-align: center;
	font-size: 24px;
}

#eui-main-body .product-experience .product-content .product-picture .realtime-btn {
	 width: 160px;
    height: 160px;
    margin: 0 auto;
    /*position: relative;*/
    position: absolute;
    text-align: center;
}
#eui-main-body .product-experience .product-content .product-picture .realtime-btn1 {
	 width: 160px;
    height: 160px;
    margin: 0 auto;
    /*position: relative;*/
    position: absolute;
    text-align: center;
}
@media screen and (max-width:414px){
	#eui-main-body .product-experience .product-content .product-picture .realtime-btn {
		 width: 200px;
	    height: 200px;
	    line-height: 200px;
	    margin: 10px auto;
	    top: 375px;
        left: 40px;
	}

}
@media screen and (max-width:414px){
	#eui-main-body .product-experience .product-content .product-picture .realtime-btn1 {
		 width: 200px;
	    height: 200px;
	    line-height: 200px;
	    margin: 10px auto;
	    top: 375px;
        left: 40px;
	}

}

#eui-main-body .product-experience .product-content .product-picture .realtime-btn img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	z-index: 10;
	margin-top: 20px;
}
#eui-main-body .product-experience .product-content .product-picture .realtime-btn1 img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	z-index: 10;
	margin-top: 20px;
}
#viz {
	/*display: none;*/
	/*border: 1px solid #2aabd2;*/
	overflow: hidden;
	height: 200px;
	/*background-color: black;*/
}

#viz canvas {
	
}



/*
.recording {
    background: red;
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
    background: radial-gradient(center, ellipse cover, #ff0000 0%,white 75%,white 100%,#7db9e8 100%);
}
*/

@keyframes warn {
	0% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.0;
	}
	25% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.1;
	}
	50% {
		transform: scale(0.5);
		-webkit-transform: scale(0.5);
		opacity: 0.3;
	}
	75% {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 0.0;
	}
}

@keyframes warn1 {
	0% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.0;
	}
	25% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.1;
	}
	50% {
		transform: scale(0.3);
		-webkit-transform: scale(0.3);
		opacity: 0.3;
	}
	75% {
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
		opacity: 0.7;
	}
	100% {
		transform: scale(1);
		-webkit-transform: scale(1);
		opacity: 0.0;
	}
}

.product-picture .realtime-btn .pulse {
	position: absolute;
	width: 100px;
	height: 100px;
	display: none;
	left: 30px;
	top: 9px;
	border: 1px solid #3399ff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: -9;
	-webkit-animation: warn 1.6s ease-out;
	-moz-animation: warn 1.6s ease-out;
	animation: warn 1.6s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	box-shadow: 1px 1px 40px #3399ff;
}

.pulse1 {
	display: none;
	position: absolute;
	width: 130px;
	height: 130px;
	left: 15px;
	top: -7px;
	border: 1px solid #3399ff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: -10;
	/*opacity: 0;*/
	-webkit-animation: warn1 1.6s ease-out;
	-moz-animation: warn1 1.6s ease-out;
	animation: warn1 1.6s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	box-shadow: 1px 1px 40px #3399ff;
	/* 阴影效果 */
}




#eui-main-footer .footer .list .con {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 12px;
}


#analyser{
	margin-left: -20px;
}


	.main{
		width: 350px;
		height: 600px;
		border: 1px solid red;
		margin:0 auto;
		border-radius: 20px;
	}
	::-webkit-scrollbar {display:none;}
	.marvel-device.nexus5 {
	    padding: 50px 15px 50px 15px;
	    width: 320px;
	    height: 600px;
	    background: #1e1e1e;
	   	/*border: 1px solid red;*/
	    border-radius: 20px;
	}
	
@media screen and (max-width:414px){
	.marvel-device.nexus5 {
	    width: 275px;
	    height: 525px;
	    margin-bottom: 70px;
	}
}
	
	.marvel-device.nexus5:before {
	    border-radius: 600px / 50px;
	    background: #000000;
	   	/*border: 1px solid red;*/
	    content: '';
	    top: 0;
	    position: absolute;
	    height: 103.1%;
	    width: calc(100% - 26px);
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	}
	.marvel-device {
	    /*display: inline-block;*/
	   margin: 0 auto;
	    position: relative;
	    -webkit-box-sizing: content-box !important;
	    box-sizing: content-box !important;
	}
	.marvel-device.nexus5 .top-bar {
	    width: calc(100% - 8px);
	    height: calc(100% - 6px);
	    position: absolute;
	    top: 3px;
	    left: 4px;
	    border-radius: 20px;
	    background: #000000;
	   	/*border: 1px solid red;*/
	}
	.marvel-device.nexus5 .top-bar:before {
	    border-radius: 600px / 50px;
	    background: inherit;
	   	/*border: 1px solid red;*/
	    content: '';
	    /*position: absolute;*/
	    height: 103.0%;
	    width: calc(100% - 26px);
	    top: 50%;
	    left: 50%;
	    -webkit-transform: translateX(-50%) translateY(-50%);
	    transform: translateX(-50%) translateY(-50%);
	}
	.top-bar .top-call{
		width: 100px;
		height: 2px;
		background: #ccc;
		margin-left: 34%;
		margin-top: -25px;
		border-radius: 2px;
	}
	.marvel-device.nexus5 .sleep {
	    width: 3px;
	    position: absolute;
	    right: -3px;
	    top: 170px;
	    height: 100px;
	    background: inherit;
	   	/*border: 1px solid red;*/
	    border-radius: 0px 2px 2px 0px;
	}
	.marvel-device.nexus5 .volume {
	    width: 3px;
	    position: absolute;
	    right: -3px;
	    top: 80px;
	    height: 45px;
	    background: inherit;
	   	/*border: 1px solid red;*/
	    border-radius: 0px 2px 2px 0px;
	}
	.marvel-device.nexus5 .camera {
	    background: #3c3d3d;
	   	/*border: 1px solid red;*/
	    width: 10px;
	    height: 10px;
	    position: absolute;
	    top: 18px;
	    left: 88%;
	    z-index: 3;
	    margin-left: -5px;
	    border-radius: 100%;
	}
	.marvel-device.nexus5 .camera:before {
	    background: #a1adad;
	   	/*border: 1px solid red;*/
	    width: 10px;
	    height: 10px;
	    content: '';
	    display: block;
	    position: absolute;
	    left: -25px;
	    z-index: 3;
	    border-radius: 100%;
	}
	.nexus5 .screen {
	    box-shadow: none;
	    /*background: linear-gradient(to bottom, #f3424b 0%, #ffd51f 100%);*/
	   background: #FFFFFF;
	    /*border: 1px solid red;*/
	    text-align: left;
	    width: 100%;
	    position: relative;
	    height: 100%;
	    z-index: 3;
	    overflow: hidden;
	    display: block;
	    border-radius: 1px;
	    position: relative;
	}
	.realtime-btn{
		z-index: 100;
		position: absolute;
		top: 495px;
		left: 80px;
	}
	.realtime-btn1{
		z-index: 100;
		position: absolute;
		top: 495px;
		left: 80px;
	}
	.screen p{
		margin: 0;
		margin-left: 40px;
	}
	.screen .p1{
		margin-left: 10px;
	}
	
	pre {
		width: 275px;
		outline: 1px solid #ccc; 
		padding: 5px; 
		margin: 5px; 
		margin-top: 20px;
		margin-left: 20px;
		height: 380px;
		overflow-y: auto;
	}
@media screen and (max-width:414px){
	pre {
		width: 235px;
		height: 370px;
	}
}
	
	.string { color: red; }
   .prompt{
	   	overflow: hidden;
	   	margin-top: 20px;
   }
   .prompt .stat{
   	    min-width: 30px;
	   	max-width: 200px;
	   	display: inline-block;
	   	border: 1px solid #ccc;
	   	padding: 2px 6px;
	   	border-radius: 6px;
	   	float: right;
	   	margin-right: 20px;
	   	color: #FFFFFF;
	   	background: #1998c5;
   }
   .prompt .arrow{
	   	position:absolute;
		top:25px;
		right:11px; 
		width:0;
		height:0;
		font-size:0;		
		border:solid 5px;
		border-color:#FFFFFF #FFFFFF #FFFFFF #1998c5;
   }
   .motoimg{
   	 width: 40px;
   	 height: 40px;
   	 margin-left: 20px;
   }
   .motoimg img{
   	width: 100%;
   	height: 100%;
   }

.update{
		width: 223px;
		margin-left: 20px;
		margin-top: 10px;
		color: red;
	}
.subdate{
	background: #1998c5;
	border: none;
	color: #FFFFFF;
	border-radius: 5px;
	height: 25px;
}
.jsonmain{
	width: 87%;
	height: 360px;
	margin-left: 20px;
	margin-top: 30px;
	padding:10px;
	background: #ECECEC;
	overflow-y: auto;
}
.childjson{
	margin-left: 20px;
}

.upd{
	display: none;
}