html,body{
	width: 100%;
	height: 100%;
	overflow-x: auto;
	overflow-y: auto;
}
p{
	margin: 0;
}
.dis_flex{
	display: flex;
	flex-direction: column;
    height: 100%;
    position: relative;
}
.nav-title{
	height:200px;
	background: linear-gradient(to right, #5B91D3, #7FC6EF);
	position: relative;
	display: flex;
    justify-content: center;
	align-items: center;
	text-align: center;
}
.recognise_title{
	color: #fff;
	font-size: 4rem;
	letter-spacing: 10px;
	line-height: 155px;
}
.bg_div{
	background: url("../images/bight.png") no-repeat;
	width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-size: 100% 41px;
}
.eui-main-body {
	width: 100%;
    padding-bottom: 40px;
}
.content-title{
    padding: 20px 0;
    font-size: 25px;
    text-align: center;
}
.content-box{
    width: 60%;
    margin: 0 auto;
}
.content-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}
.hint{
    font-size: 18px
}
.rand-btn{
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid #779ED8;
    float: right;
}
.text-box{
    border: 1px solid #C6CDE3;
    border-radius: 5px;
    padding: 21px 29px 10px;
    width: 100%;
}
.hint-num{
    font-size: 18px;
    color: #707070;
}
.hint-num span{
    color: #D87657;
}
.content-text{
    width: 100%;
    height: 200px;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
}
.content-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
    text-align: center;
}
.down-btn{
    width: 150px;
    height: 45px;
    border: 1px solid #74A6DD;
    color: #74A6DD;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.down-btn:focus, .down-btn:hover {
    color: #74A6DD;
}
.down-btn img{
    width: 24px;
    height: 22px;
}
.play-box{
    display: inline-block;
    background: #74A6DC;
    width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin: 0 auto;
}
.play-box img{
    width: 14px;
    height: 18px;
    vertical-align: baseline;
}
.play-box button{
    background: none;
    border: none;
    outline: none;
}
@media screen and (max-width:414px){
    .content-box {
        width: 90%;
    }
    .content-title {
        padding: 10px 0;
        font-size: 2rem;
        text-align: center;
    }
    .hint {
        font-size: 16px;
    }
    .rand-btn {
        font-size: 14px;
    }
    .text-box {
        padding: 15px 20px 10px;
    }
    .hint-num {
        font-size: 16px;
    }
    .content-btn {
        padding-top: 1rem;
    }
    .nav-title{
        height: 150px;
    }
    .recognise_title{
        font-size: 25px;
    }
    .eui-main-body{
        padding-bottom: 0;
    }
}
@media screen and (max-height:568px){
    .content-text {
        height: auto;
        min-height: 150px;
    }
}

.alert_box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9999;
    display: none;
}
.alert_box_main{
    width: 350px;
    min-height: 190px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -202px;
    margin-top: -130px;
    border-radius: 2px;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alert_box_main p{
    text-align: center;
    color: #333;
    padding: 0 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 130px;
    font-size: 20px;
    letter-spacing: 2px;
}
.alert_box_main a{
    display: inline-block;
    width: 94px;
    line-height: 37px;
    background: linear-gradient(to right, #8dd2bd, #96c97a);
    border-radius: 2px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    text-decoration:none;
}
.alert_box_main a:hover{
    text-decoration:none;
}
.hollow-dots-spinner, .hollow-dots-spinner * {
    box-sizing: border-box;
  }

  .hollow-dots-spinner {
    height: 15px;
    width: calc(30px * 3);
  }

  .hollow-dots-spinner .dot {
    width: 15px;
    height: 15px;
    margin: 0 calc(15px / 2);
    border: calc(15px / 5) solid #fff;
    border-radius: 50%;
    float: left;
    transform: scale(0);
    animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
  }

  .hollow-dots-spinner .dot:nth-child(1) {
    animation-delay: calc(300ms * 1);
  }

  .hollow-dots-spinner .dot:nth-child(2) {
    animation-delay: calc(300ms * 2);
  }

  .hollow-dots-spinner .dot:nth-child(3) {
    animation-delay: calc(300ms * 3);

  }

  @keyframes hollow-dots-spinner-animation {
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }