.navbar-default .navbar-nav > .active > a{
	color: #777;
}		
.dropdown-menu>li:nth-child(2)>a{
	color: #1189f3;
}	
.dropdown-menu{
	margin-right: 5px;
}		
.banner{
	width: 100%;
	height: 53px;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 20px;
	/*border: 1px solid #ccc;*/
}
.banner img{
	width: 160px;
	height: 50px;
}
.main{
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
	margin-top: 80px;
	/*border: 1px solid #ccc;*/
}
.main .userinfo{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #eb403c;
}
.main .userinfo h2{
	float: left;
	font-size: 28px;
	color: #eb403c;
	margin-top: 20px;
	margin-left: 10px;
}

@media screen and (max-width:375px){
	.main .userinfo h2{
		font-size: 20px;

	}
}


.main .userinfo .user_name{
	float: right;
	margin-top: 25px;
	margin-right: 10px;
}
.main .userinfo .uright{	
	font-size: 18px;
	color: #7d7a7a;				
}

@media screen and (max-width:320px){
	.main .userinfo .uright{	
		font-size: 14px;
		color: #7d7a7a;				
	}
}

.user_con{
	width: 100%;
	margin-top: 20px;
}
.user_con .lenkey{
	width: 100%;
	height: 30px;
	font-size: 18px;
	color: #757070;
}
.user_con .val_width{
	/*width: 60%;*/
	display: inline-block;
}
.user_con .key_con{
	width: 16%;
	text-align: right;
	display: inline-block;		
}
@media screen and (max-width:920px){
	.user_con .key_con{
		width: 30%;
		text-align: right;
		display: inline-block;		
	}
	.user_con .val_width{
		/*width: 50%;*/
		display: inline-block;
	}
}
@media screen and (max-width:540px){
	.user_con .key_con{
		width: 30%;
		text-align: right;
		display: inline-block;		
		font-size: 16px;
	}
	.user_con .val_width{
		width: 55%;
		display: inline-block;
		font-size: 14px;
	}
}
@media screen and (max-width:414px){
	.user_con .key_con{
		width: 22%;
		text-align: right;
		display: inline-block;		
		font-size: 12px;
	}
	.user_con .val_width{
		/*width: 55%;*/
		display: inline-block;
		font-size: 10px;
	}
}
.user_con .seckey,.num1,.num2{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	font-size: 18px;
	color: #757070;
}

.user_bottom{
	width: 100%;
	height: 10px;
	border-top: 1px solid #eb403c;
	margin-top: 150px;
}
			




#eui-main-footer{
    height: 100px;
    width: 100%;
    padding-top: 45px;
    text-align: center;
    position: fixed;
    bottom: 0px;
}

#eui-main-footer .footer .list .con {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 12px;
}
.footer-bgcolor{
	background: #2f363e;
    color: #a9acb0;
    margin-top: 30px;
}