#eui-main-body{
    margin: auto;
    background: url("../images/background.jpg") -100px 0px no-repeat;
    width: 1100px;
    height: 600px;
    padding-left: 50px;
}
.user-title{
    width: 45%;
    height: 28%;
    padding-top: 11%;
    color: white;
    font-size: 30px;
    font-weight:bolder;
    text-align: center;
}

.user-content{
    padding-top: 2%;
    height: 50%;
    width: 45%;
}

.content-name{
    width: 30%;
    height: 100%;
    float: left;
    text-align: center;
}

.content-value{
    width: 70%;
    height: 100%;
    float: left;
}

.user-name{
    height: 13%;
}

.user-nickname{
    height: 13%;
}

.user-email{
    height: 13%;

}

.user-pwd{
    height: 13%;

}

.user-telephone{
    height: 13%;

}

.user-idcard{
    height: 13%;

}

.user-description{
    height: 13%;
}

.content-value input{
    width: 85%;
    outline-style: none;
}

.content-value textarea{
    width: 85%;
    outline-style: none;
}

.register-button{
    width: 45%;
    height: 5%;
    text-align: center;
}

.button-submit{
    width: 45%;
    float: left;
}

.button-back{
    width: 55%;
    float: right;
}

.text-reader{
    font-weight: bolder;
    color: white;
    font-size: 16px;
}
