/* navbar */
.navbar-default{
    background-color: #FFFFFF;
    /*opacity: 0.4;*/
    border:none;
    
}
.navbar{
	height: 70px;
	/*position: relative;*/
}
.navbar-icon{
	margin-top: 13px;
	margin-right: 20px;
}
.navbar-collapse{
	border: none;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
    /*background: #FFFFFF;*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1189f3;
    /*background: #a5e8f7;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #1189f3;
    background-color:#fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #FFFFFF;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
.navbar-nav{
	margin:20px -15px 0px -15px;
}
@media (max-width: 766px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #8C8C8C;
    }
    .navbar-nav{
		margin:0px -15px 0px -15px;
		background: #FFFFFF;
	}
	 .navbar-nav li{
	 	border-top: 1px solid #CCCCCC;
	 }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #1189f3;
           /*background: #a5e8f7;*/
    }
}
.dropdown-menu{
	padding: 0px;
}

.navbar-toggle{
	margin-top: 22px;
}
.navbar-nav>li>a{
	padding-left: 15px;
	padding-top: 10px;
}
.container{
	width: 100%;
}
#login{
	/*position: absolute;
	right: 110px;
	top: 25px;*/
}
.navbar-right{
	/*margin-right: 5px;*/
}










#eui-main-footer{
    height: 40px;
    width: 100%;
    padding-top: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

@media screen and (max-width:414px){
   #eui-main-footer{
        height: 60px;
	}
}

#eui-main-footer .footer .list .con {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 12px;
}
.footer-bgcolor{
	background: #2f363e;
    color: #a9acb0;
    margin-top: 30px;
}
