.content-title{
	width:90%;
	margin: 70px auto;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}
#eui-main-body{
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid #ccc;*/
	margin-bottom: 100px;
}
.conent-header{
	width: 100%;
}
.conent-header .urlheader,.pathheader,.formatheader{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.conent-header .urleft{		
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	line-height: 42px;
}
.contentleft{
	width: 10%;	
	height: 100%;
    position: absolute;
    left: 0;
    top: 0;
	float: left;
	border: 1px solid #ccc;
	padding-right: 15px;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
	box-sizing: border-box;
	background: #b2defd;
}
.conent-header .urlheader .urlcontent{	
	/*height: 40px;*/
}
.contentright{
	width: 90%;
	float: right;
	border: 1px solid #ccc;
    padding: 10px 20px 10px 50px;
    background: aliceblue;
    color: #000000;
}
#eui-main-body .content1{
	width: 100%;
	/*height: 154px;*/
	/*border: 1px solid red;*/
	/*display: inline-block;*/
	overflow: hidden;
	position: relative;
}
.content1 .headinfo{
	height: 100%;
	line-height: 220px;
}
.content1 .header-content strong{
	color: red;
}
.content1 .content-table table,.content2 .content-table table{
	width: 94%;
	text-align: center;
}
.content1 .content-table table th,.content2 .content-table table th{
	text-align: center;
	background: #C0C0C0;
}
.content1 .content-table table td,.content2 .content-table table td{
	padding: 6px;
	word-wrap:break-word;
	word-break:break-all;
}

#eui-main-body .content2,.content3{
	width: 100%;
	height: 100%;
	/*height: 154px;*/
	/*border: 1px solid #CCCCCC;*/
	position: relative;
	overflow: hidden;
	/*display: inline-block;*/
	/*margin-top: -6px;*/
}
.content2 .headinfo{
	height: 100%;
	line-height: 1007px;
}
.content2 .title{
	margin-top: 30px;
}
.content3 .headinfo{
	line-height: 42px;
}
#eui-main-body table tr:nth-child(odd){
	background: #f7f5f5;
}
#eui-main-body table tr:nth-child(even){
	background: #FFFFCC;
}
#eui-main-body table tr:hover{
	background: #B7FF7D;
}
.contentright .result-content{
	float: left;
	width: 50%;
}
.contentright .result-comment{
	float: left;
	width: 50%;
}
.contentright .result-content .result-padding{
	margin-left: 40px;
}
.result{
	padding-top: 150px;
}
#eui-main-footer{
    height: 100px;
    width: 100%;
    padding-top: 45px;
    text-align: center;
}
#eui-main-footer .footer .list .con {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 12px;
}
.footer-bgcolor{
	background: #2f363e;
    color: #a9acb0;
    margin-top: 30px;
}