#eui-main-body{
    margin:70px auto;
    width: 100%;
}

.eui-banner{
	width: 100%;
	height: 560px;
}
.eui-banner img{
	width: 100%;
	height: 100%;
}
@media screen and (min-width:900px) and (max-width:1300px){
	.eui-banner{
		height: 500px;
	}
}
@media screen and (min-width:730px) and (max-width:899px){
	.eui-banner{
        height: 400px;
    }
}
@media screen and (min-width:375px) and (max-width:729px){
	.eui-banner{
        height: 300px;
    }
}
@media screen and (min-width:320px) and (max-width:374px){
	.eui-banner{
        height: 200px;
    }
}
@media screen and (max-width:320px){
    .eui-banner{
        height: 200px;
    }
}
@media screen and (min-width:1920px){
    .eui-banner{
    	margin: 0 auto;
		width: 100%;
		height: 800px;
		background: url(../images/ban3.jpg)) no-repeat;
		background-size: 100% auto;
	}
}
.recognise-module{
    margin: 20px auto;
    width: 81%;
    border: 1px solid #e5e5e5;
    /*height: 280px;*/
    background: #d9e9f0;
    overflow: hidden;
    position: relative;
    margin-bottom: 150px;
}

.compose-module{
    margin-top: 20px;
    width: 100%;
    border: 1px solid #e5e5e5;
    height: 200px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
    
}


.module-title{
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    background-color: #2dc2fb;
    text-align: center;
    /*padding: 70px 90px;*/
    font-size: 24px;
    color: white;
    font-weight: bolder;

}
.module-content{
	width: 75%;
	height: 100%;
	float: right;
	background: #d9e9f0;
	padding: 20px 0px;
}

.module-chinese-article{
    /*padding-left: 5%;*/
    /*padding-top: 40px;*/
    margin-left: 1%;
    width: 48%;
    font-size: 16px;
    float: left;
}

.module-english-article{
    margin-left: -13%;
    width: 48%;
    font-size: 16px;
    float: left;
}
.module-content{
	padding: 10px;
}
.module-content p{
	width: 100%;
	box-sizing: border-box;
	border-bottom: 1px solid #CCCCCC;
}
.module-content p span{
	width: 50%;
	display: inline-block;
	box-sizing: border-box;
	text-align: left;
	font-size: 16px;
}
.module-content p .sp1{
	padding-left: 20px;
}

#eui-main-body ul li{
    /*line-height: 35px;*/
    list-style-type: disc;
    margin-top:15px;
}

#eui-main-footer{
    height: 100px;
    width: 100%;
    padding-top: 45px;
    text-align: center;
}
#eui-main-footer .footer .list .con {
    margin-top: 10px;
    color: #b1b1b1;
    font-size: 12px;
}
.footer-bgcolor{
	background: #2f363e;
    color: #a9acb0;
    margin-top: 30px;
}