
html {font-size: 62.5%;} 
p{margin: 0}
#eui-main-header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;
	background: #FFFFFF;
	opacity: 0.9;
}

#eui-main-body{
	/* margin-top: 70px; */
	width: 100%;
	height: auto !important;

}
.dis_block{
	display: block !important;
}
.top-banner {
	position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.top-banner .pic li {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
}

.top-banner .pic li img {
	width: 100%;
	height: 100%;
}

.top-banner #position {
	position: absolute;
	bottom: 20px;
	/* left: 50%;
	transform: translateX(-50%); */
	/*margin: 0;*/
	width: 100%;
	text-align: center;
}

#position li {
	width: 10px;
	height: 10px;
	margin: 0 2px;
	display: inline-block;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #F0F8FF;
}
#position .active {
	background-color: #3399ff;

}



#eui-main-header {
    margin: 0;
    border: none;
    height: 60px;
    /*background: url("../images/nav-bg.png.html") repeat-x;*/
   /*background-color: #3C3C3C;*/
    width: 100%;
    border-radius: 0;
    /*padding-left: calc(100vw - 100%);*/
}
#eui-main-header{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 999;
	background: #FFFFFF;
	opacity: 0.9;
}
.flex_css{
	background: rgba(0,0,0,.3) !important;
}
.lenovo_yuyin{
	overflow: hidden;
	border-radius: 12px;
}
.lenovo_yuyin img{
	cursor: pointer;
    transition: all 0.6s;
}
.lenovo_yuyin img:hover{
	transform: scale(1.4);
}

.sile{
	height: 100%;
}
/* 轮播动画 */
.box_anim0{
	position: relative;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content:center;
	justify-content:center;
	-moz-box-pack:center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit--moz-box-pack:center;
	
}
.box_anim0 .anim0_center{
	width: 100%;
	padding-top: 120px;
}
.box_anim0 .center_div{
	width: 430px;
    text-align: center;
    margin: 0 auto;
}
.box_anim0 .le_title{
	color: #a3fffe;
    font-size: 35px;
	font-weight: 500;
	margin-bottom: 5rem;
}
.box_anim0 .le_in{
	padding: 0 4rem;
    font-size: 30px;
    color: #fff;
	font-weight: 500;
	margin-bottom: 3rem;
}
.box_anim0 .le_in .span_left{
	display: block;
	text-align: left;
	user-select: none;
}
.box_anim0 .le_in .span_right{
	display: block;
	text-align: right;
	user-select: none;
}
.box_anim0 .le_callORnote{
	color: #a1fbf9;
	box-pack:center;
	font-weight: 500;
	margin-bottom: 3rem;
	text-align: center;
}
.box_anim0 .le_call{
	font-size: 35px;
	padding-right: 20px;
}
.box_anim0 .le_note{
	font-size: 35px;
	padding-left: 20px;
}
.box_anim0 .le_info{
	color: #fff;
    font-weight: 500;
    text-align: left;
	padding-top: 20px;
	font-size: 16px;
}
.box_anim0 .le_shu{
	border-right: 3px solid #a1fbf9;
	height: 15px;
	vertical-align: super;
}
.box_anim0 .anim0_posi_left{
	
	
	/* transform: translate3d(-50%, -50%, 0);
            animation: chai 350ms ease alternate infinite; */
}
.box_anim0 .left_img_div{
	transform: rotate(15deg);
	width: 800px !important;
    height: 375px !important;
    position: absolute;
    left: -400px;
    top: 130px;
}
/* @keyframes chai {
	0% {
	  transform: translate3d(-50%, -50%, 0) scale(1, 1);
	}
  
	100% {
	  transform: translate3d(-50%, -50%, 0) scale(1.1, 1.1);
	}
  } */
.box_anim0 .right_img_div{
	width: 800px !important;
    height: 375px !important;
    position: absolute;
    right: -400px;
    top: 200px;
    transform: rotate(15deg);
}
.box_anim1{
	position: relative;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	justify-content: center;
	-webkit-justify-content:center;
	-moz-box-pack:center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit--moz-box-pack:center;
	box-pack:center;
}
.box_anim1 .anim1_center{
	width: 100%;
    /* text-align: center; */
    padding-top: 120px;
}
.box_anim1 .center_div{
	width: 330px;
    text-align: center;
    margin: 0 auto;
}
.box_anim1 .le_title{
	color: #e7ffff;
    font-size: 35px;
    font-weight: 500;
}
.box_anim1 .le_in{
	font-size: 28px;
	padding-top: 10px;
}
.box_anim1 .le_in .span_top{
	display: block;
	color: #f9ffff;
	font-weight: 500;
	user-select: none;
}
.box_anim1 .le_in .span_bottom{
	display: block;
	color: #f9ffff;
	font-weight: 500;
	user-select: none;
}
.box_anim1 .left_img_div{
	position: absolute;
    width: 413px;
    height: 800px;
    left: 60px;
	top: 165px;
	text-align: center;
}
.box_anim1 .left_img_title{
	color: #f8fdff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 90px;
    display: block;
}
.box_anim1 .right_img_div{
	position: absolute;
    width: 413px;
    height: 800px;
    right: 60px;
	top: -450px;
	text-align: center;
}
.box_anim1 .right_img_title{
	color: #f8fdff;
    font-size: 30px;
    font-weight: 500;
    margin-top: 90px;
    display: block;
}
.box_anim2{
	position: relative;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
	-webkit-justify-content:center;
	justify-content:center;
	-moz-box-pack:center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit--moz-box-pack:center;
	box-pack:center;
}
.box_anim2 .anim2_center{
    /* text-align: center; */
	padding-top: 120px;
	font-weight: 500;
	width: 100%;
}
.box_anim2 .center_div{
    text-align: center;
    margin: 0 auto;
}
.box_anim2 .le_title{
	color: #fdfbca;
	font-size: 35px;
	margin-bottom: 0;
}
.box_anim2 .p_p1{
	font-size: 20px;
	color: #fbfcfe;
	padding-top: 30px;
    margin-bottom: 0;
}
.box_anim2 .p_p2{
	font-size: 25px;
	color: #fbfcfe;
	padding-top: 30px;
    margin-bottom: 0;
}
.box_anim2 .p_p3{
	font-size: 30px;
	color: #fbfcfe;
	padding-top: 30px;
    margin-bottom: 0;
}
.box_anim2 .bottom_img_div{
	width: 414px;
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -600px;
}
.box_anim3{
	position: relative;
	display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content:center;
	justify-content:center;
	-moz-box-pack:center;
	-ms-justify-content: center;
	-o-justify-content: center;
	-webkit--moz-box-pack:center;
}
.box_anim3 .anim3_center{
    text-align: center;
	padding-top: 80px;
	font-weight: 500;
	width: 100%;
}

.box_anim3 .le_title{
	margin-bottom: 20px;
    font-size: 35px;
    color: #fee7f1;
    font-weight: 500;
}
.box_anim3 .anim3_p1{
    line-height: 20px;
    position: absolute;
    width: 240px;
    top: 150px;
    left: 110px;
    text-align: left;
    color: #fefdff;
    font-size: 16px;
    font-weight: 500;
}
.box_anim3 .anim3_p2{
	position: absolute;
    left: 40px;
    bottom: 280px;
    color: #fefdff;
	font-size: 20px;
	margin: 0;
}
.box_anim3 .anim3_p3{
	position: absolute;
    right: 70px;
    font-size: 30px;
	top: 270px;
	color: #fefdff;
}
.box_anim3 .anim3_p4{
	position: absolute;
    bottom: 140px;
    right: 260px;
	font-size: 25px;
	color: #fefdff;
}

.box_anim3 .center_img_div{
	width: 260px;
	height: 486px;
	position: relative;
	margin:  0 auto;
}
.box_anim3 .left_img_div{
	position: absolute;
    width: 375px;
    bottom: -525px;
    height: 802px;
    left: -400px;
	animation: leftAnime 1s;
	animation-fill-mode:forwards;
}
@keyframes leftAnime{
	form{
		bottom: -525px;
	}
	to{
		bottom: -475px;
	}
}
.box_anim3 .right_img_div{
	position: absolute;
    width: 300px;
    height: 612px;
    bottom: -345px;
    left: 149px;
	animation: rightAnime 1s;
	animation-fill-mode:forwards;
}
@keyframes rightAnime{
	form{
		bottom: -345px;
	}
	to{
		bottom: -295px;
	}
}
/* @media screen and (max-height:660px){
	.box_anim3 .anim3_p1{
		top: 105px;
	}
	.box_anim3 .center_img_div{
		width: 230px;
		height: 438px;
	}
	.box_anim3 .left_img_div{
		position: absolute;
		width: 360px;
		bottom: -445px;
		height: 720px;
		left: -435px;
		animation: leftAnime 1s;
		animation-fill-mode:forwards;
	}
	@keyframes leftAnime{
		form{
			bottom: -445px;
		}
		to{
			bottom: -395px;
		}
	}
	.box_anim3 .right_img_div{
		position: absolute;
		width: 300px;
		height: 600px;
		bottom: -340px;
		left: 120px;
		/* animation: rightAnime 1s;
		animation-fill-mode:forwards; */
	}
	@keyframes rightAnime{
		form{
			bottom: -340px;
		}
		to{
			bottom: -290px;
		}
	}
} */

@media screen and (max-width:414px){
	.box_anim0 .center_div{
		display: none;
	}
	.box_anim0 .right_img_div {
		/* right: 409px; */
		top: 35px;
	}
	.anim0_posi_right{
		width: 667px !important;
		height: 375px !important;
	}
	.anim0_posi_left{
		width: 700px !important;
		height: 375px !important;
	}
	.box_anim0 .left_img_div {
		left: -425px;
		top: 320px;
	}
}








